
<section>
  <form class="add-post-form">
  <h2>create new post</h2><hr>
    <div>
      <label for="title">
        <h3>
        title

        </h3>
        </label>
      <input class="input" type="text" id="title" name="title" placeholder=" post title "/>
    </div>
    <div>
      <label for="content">
        <h3>

        content
        </h3>
        </label>
      <input class="" id="content" name="content" placeholder="post content "/>
    </div>
    <button type="submit" class="submit">create post</button>
  </form>
    <a  href="/dashboard" class="button"> &laquo;back to dashboard</a>
</section>

<script src="/javascript/add-post.js"></script>
 

