
<div class="">
<form class="form-login">
<h2 class="">login:</h2><hr>
  <div>
    <label for="email">
        <h3>

        email
        </h3>
        </label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">
        <h3>

        password
        </h3>
        </label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit" class="">login</button>
    <a href="/signup"><button type="button" class="">signup</button></a>
  </div>
</form>
</div>


<script src="/javascript/login.js"></script>