<div class="column">
<form class="form-signup">
<h2 class="title pb-4">create new account:</h2><hr>
  <div>
    <label for="username">
        <h3>

        username
        </h3>
        </label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="email">
        <h3>

        email
        </h3>
        </label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">
        <h3>

        password
        </h3>
        
        </label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>
<script src="/javascript/signup.js"></script>